<nav>
  <ul class="pagination">
    <li (click)="currentPage = currentPage - 1" class="page-item" [appClass]="{ disabled: currentPage == 0 }">
      <a class="page-link">Prev</a>
    </li>

    <ng-container *ngFor="let image of images; let i = index;">
      <li
        class="page-item"
        [appClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>

    <li class="page-item" [ngClass]="{ disabled: currentPage == images.length - 1 }">
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">Curr: 0</div>
  <div *ngSwitchCase="1">Curr: 1</div>
  <div *ngSwitchDefault>*ngSwitchDefault</div>
</div> -->